## Air Three

In [1]:
from oiflib.air.three.extract import extract_air_three
from oiflib.air.three.transform import transform_air_three
from oiflib.air.three.validate import validate_air_three_extracted, validate_air_three_transformed

In [2]:
air_three_extracted = extract_air_three().pipe(validate_air_three_extracted)
air_three_extracted.head()

,Area code,PM2.5 2011 (total),PM2.5 2011 (non-anthropogenic),PM2.5 2011 (anthropogenic),Country,PM2.5 2012 (total),PM2.5 2012 (non-anthropogenic),PM2.5 2012 (anthropogenic),PM2.5 2013 (total),PM2.5 2013 (non-anthropogenic),...,PM2.5 2016 (anthropogenic),PM2.5 2017 (total),PM2.5 2017 (non-anthropogenic),PM2.5 2017 (anthropogenic),PM2.5 2018 (total),PM2.5 2018 (non-anthropogenic),PM2.5 2018 (anthropogenic),PM2.5 2019 (total),PM2.5 2019 (non-anthropogenic),PM2.5 2019 (anthropogenic)
0,Eng,12.0891,2.6357,9.4535,England,11.1081,2.1095,8.9986,11.5227,2.1314,...,9.4566,9.4113,0.5073,8.9040,9.5246,0.4429,9.0817,9.5741,0.5311,9.0430
1,Wal,9.4192,2.7214,6.6978,Wales,8.7860,2.1979,6.5880,9.9034,2.2408,...,7.5940,7.0468,0.5102,6.5366,7.7765,0.5999,7.1766,7.5190,0.5881,6.9308
2,Sco,8.0037,2.5759,5.4277,Scotland,7.6107,2.0355,5.5752,7.8215,2.0360,...,5.2794,5.8877,0.4607,5.4270,5.7886,0.3816,5.4070,5.5153,0.3569,5.1584
3,Nir,7.7701,2.7103,5.0598,Northern Ireland,7.6487,2.1100,5.5386,8.7661,2.2440,...,6.1638,6.1617,0.5045,5.6572,7.4441,0.5812,6.8629,5.8943,0.4429,5.4514

In [3]:
air_three_transformed = transform_air_three(air_three_extracted).pipe(validate_air_three_transformed)
air_three_transformed.head()

   Area code  Country  year measure    ugm-3
0        Eng  England  2011   total  12.0891
12       Eng  England  2012   total  11.1081
24       Eng  England  2013   total  11.5227
36       Eng  England  2014   total  11.1680
48       Eng  England  2015   total   9.4215